*-lock.json*
*-lock.yaml
*.bak
*.lock
*.tsbuildinfo
!/bun.lock
/coverage/
/playwright-report/
/test-results/
.env.local
.stage3/
.turbo/
dist/
node_modules/

# Cloudflare services
/workers/*/worker-configuration.d.ts
.dev.vars*
.wrangler/
