{
  "arrowParens": "always",
  "endOfLine": "lf",
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-pkg", "prettier-plugin-sh"],
  "overrides": [
    {
      "files": ["*.spec.ts", "*.test.ts"],
      "options": {
        "printWidth": 100
      }
    }
  ]
}
